<div class="container padding-footer mtop30">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li ui-sref="about" class="active">About</li>
        </ol>
    </div>
    <div class="col-xs-12">
        <p class="grey-text"><strong>Boon Lay Stationery Pte Ltd started</strong> its humble beginnings in 1976. Leveraging on the strength of our people and the trust of our suppliers, we have grown to become one of the leading providers of office supplies in Singapore. </p>
        <p class="grey-text">With emphasis on variety, quality and effeciency, our aim is to provide personalized service to support our customers in their business operations. To date, our core values have remained unchanged whilist our products have kept place with technological advances in the workspace.</p>
        <p class="grey-text"> To be able to achieve this ISO milestone in our history, we remain very grateful to our customers and suppliers who have placed thier confidence and support in us.  </p>
        <p class="grey-text"> We strive to maintain and improve our services & support to both our customers and suppliers. </p>
        <p class="grey-text"> Thank you </p>
        <p class="grey-text"><strong>Boon Lay Stationery Pte Ltd </strong></p>
    </div>
</div>