<div class="container-fluid">
    <div class="row">
        <div class="animated slideInDown ">
            <img ng-src="{{ cat_img }}" class="img-responsive">
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="container padding-footer mtop30">
    <div class="col-xs-12 mtop10">
        <div class="row">
            <div class="col-sm-6 col-lg-7 col-xs-12">
                <div class="col-sm-1 col-xs-2"><div class="row"><p class="mtop5"> Brands: </p> </div></div>
                <div class="col-sm-11 col-xs-10">
                    <div class="carousel slide sort-width" id="myCarousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                <ul class="thumbnails">
                                    <li class="col-sm-3" data-ng-repeat="brand in brands|  startFrom:currentPage*pageSize | limitTo:pageSize">
                                        <div class="fff">
                                            <div class="thumbnails">
                                            </div>
                                            <div>
                                                <div class="caption">
                                                    <a ui-sref="productTemplate{{brand.templateId}}({CategoryId:CategoryId,BrandId:brand.id})">
                                                        <h6>{{brand.name}}</h6>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <ul class="control-box pager round-border">
                                <li><a data-slide="prev" class="pre"><i class="glyphicon glyphicon-chevron-left" data-ng-click="Previous()"></i></a></li>
                                <li><a data-slide="next" class="next"><i class="glyphicon glyphicon-chevron-right" data-ng-click="Next()"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xs-12 pull-right ">
                <form class="form-horizontal">
                    <div class="form-group">
                          <ul class="price-filter text-right">
                            <li>Sort by:</li>
                            <li><a href="javascript:void(0)">Price <span aria-hidden="true" class="glyphicon glyphicon-chevron-up" data-ng-click="sortByPrice(false)" ng-show="sortDesc"></span><span aria-hidden="true" class="glyphicon glyphicon-chevron-down" ng-show="!sortDesc" data-ng-click="sortByPrice(true)"></span></a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xs-12 mtop20">
        <div class="row">
            <div class="col-sm-4 text-center mbtm20 main-prod" data-ng-repeat="product in brandproducts">
                <div class="product-cat col-xs-12 col-xs-12 ">
                    <div class="cart-icons">
                        <a ui-sref="FOCProductDetails({ProductId:product.PRODUCT_ID})">
                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                        </a>
                        <div class="clearfix"></div>
                        <button class="btn btn-danger mtop10" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <div class="nostock col-xs-12 col-xs-12 " ng-show="{{product.PRODUCT_STATUS=='Y'}}">
                    <h2 class="text-uppercase padd10">out of stock</h2>
                </div>
                <div class="star col-sm-2" data-ng-show="{{product.PRODUCT_PROMOTION.PROMOTIONS_STATUS_CODE==1 && product.PRODUCT_PROMOTION.APPLIED_PROMOTIONS.LIST!=null}}"> <span> {{ product.PRODUCT_PROMOTION.OVERLAY_IMAGE.DISPLAY }}% </span> </div>
                <div class="star col-sm-2" data-ng-show="{{ product.PRODUCT_PROMOTION.OVERLAY_IMAGE.DISPLAY==null && product.PRODUCT_PROMOTION.APPLIED_PROMOTIONS.LIST!=null }}"> <span> {{product.PRODUCT_PROMOTION.OVERLAY_IMAGE.DISPLAY_TEXT}} </span> </div>

                <div class="demo-card-image wow fadeInUp">
                    <img ng-src="{{ prod_img + product.image }}" class="img-responsive">
                    <div class="mdl-card__actions">
                        <h1 class="white-text text-center">
                            {{product.PRODUCT_BRANDNAME }} {{product.PRODUCT_MODEL}}
                            {{product.PRODUCT_TITLE}}
                        </h1>
                        <h2 class="white-text text-center font-bold"><span data-ng-show="{{product.PRODUCT_DISCOUNT_TYPE=='D'}}" class="red-text line-through fa-20">S${{product.list_price}}</span> S${{product.FINAL_DISPLAY_PRICE_WITHOUT_GST}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade quickview bs-example-modal-sm" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header hidden-xs hidden-sm">
                <button type="button" class="closetop" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-header visible-xs visible-sm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            </div>
            <div class="modal-body">
                <div class="col-xs-12">
                    <div class="row">

                        <div class="col-sm-5 text-center">
                            <div class="row">
                                <div class="col-xs-12 grey-border">
                                    <div class="min-height240">
                                        <div class="star col-sm-2"> <span> 20% </span> </div>
                                        <img class="img-responsive  center-block" src="images/prod-2.png">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-xs-12 mtop20">
                                <button class="btn btn-danger round-border no-shadow mleft0 text-uppercase"><i class="fa  fa-shopping-cart"></i></button>
                                <button class="btn btn-danger-outline round-border no-shadow mleft0 text-uppercase"><i class="fa fa-heart"></i></button>

                            </div>
                        </div>



                        <div class="col-sm-7">
                            <h3 class="red-text uppercase">Faber-castell</h3>
                            <h4 class=""><span class="uppercase">Faber-castell</span>111453 colour pencil 24col</h4>
                            <h4><span class="grey-text"> S$8.00</span></h4>
                            <div class="col-xs-12 ">
                                <div class="row ">
                                    <button type="button" class="btn btn-danger-outline nomargin pull-left no-shadow waves-effect"><i class="fa fa-minus"></i></button>
                                    <span class=" btn-danger-span waves-effect"><span>1</span></span>
                                    <button type="button" class="btn btn-danger no-shadow nomargin waves-effect pull-left"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <hr />

                            <div class="form-group">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <label for="exampleInputEmail1" class="uppercase">Select color</label>
                                        <select class="form-control">
                                            <option>Tri-color</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <hr>
                            <div class="col-xs-12">
                                <div class="row">


                                    <div class="social-buttons">
                                        <a type="button" class="btn-floating btn-large btn-share no-shadow"><i class="fa fa-share-alt red-text"></i></a>
                                        <a class="btn-floating btn-large btn-fb no-shadow" type="button"><i class="fa fa-facebook"></i></a>
                                        <a class="btn-floating btn-large btn-info  no-shadow" type="button"><i class="fa fa-twitter"></i></a>
                                    </div>

                                    <h4>Total<span class="red-text"> S$8.00</span></h4>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 3000
        })
    });</script>