<div class="container padding-footer mtop30">
    <div class="col-xs-12">
        <ol class="breadcrumb">
            <li><a ui-sref="home">Home</a></li>
            <li ui-sref="setpassword" class="active">Set Password</li>
        </ol>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-8">
        <div growl></div>
        <form name="userForm" class="form-horizontal forms">
            <div class="grey-border">
                <div class=" bg-black col-xs-12 mbtm20"> <p class="white-text text-uppercase padd5"> Set password</p></div>
                <div class="clearfix"></div>
                <div class="form-group" ng-class="{ 'has-error': userForm.password.$touched && userForm.password.$invalid }">
                    <label class="col-sm-3 control-label">New Password: </label>
                    <div class="col-sm-9">
                        <input type="password" name="password" class="form-control" data-ng-model="main.password" ng-minlength="6" required>
                        <div class="help-block" ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                            <div ng-messages-include="app/templates/messages.html"></div>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-error': userForm.confirm_password.$touched && userForm.confirm_password.$invalid }">
                    <label class="col-sm-3 control-label">Confirm Password: </label>
                    <div class="col-sm-9">
                        <input type="password" name="confirm_password" class="form-control" data-ng-model="main.confirm_password" ng-minlength="6" required compare-to="main.password" />
                        <div class="help-block" ng-messages="userForm.confirm_password.$error" ng-if="userForm.confirm_password.$touched">
                            <div ng-messages-include="app/templates/messages.html"></div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" value="Set New Password" data-ng-click="setPassword()" ng-disabled="userForm.$invalid" class="btn btn-danger round-border no-shadow mleft0 text-uppercase mtop10" />
        </form>
    </div>
</div>