<div class="container padding-footer mtop30">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a ui-sref="home">Home</a></li>
                <li ui-sref="termsandconditions" class="active">Terms & Conditions</li>
            </ol>
        </div>
        <div class="col-xs-12">
            <p class="grey-text"> <strong> Warranty of Merchantability</strong> </p>
            <p class="grey-text">All our goods are of merchandisable condition and will serve their intended functions.</p>
            <p class="grey-text"> <strong>Terms of Warranty</strong></p>
            <p class="grey-text">All warranty conditions are stated in the product information provided, unless the manufacturer has provided none. </p>
            <p class="grey-text"><strong>Prices</strong></p>
            <p class="grey-text">
                All our prices are nett. No discounts will be given unless during monthly promotions.
                All our prices are inclusive of Goods & Services Tax.
            </p>
            <p class="grey-text"><strong>Delivery services</strong></p>
            <p class="grey-text"> Deliveries within Singapore, Monday to Friday, 10am to 5:30pm, is charged a flat fee of S$10.70 (incl. gst) for order less than $120. Deliveries outside of Singapore will be charged according to the prevailing shipment rates. </p>
            <p class="grey-text"><strong>Payment Processing</strong></p>
            <p class="grey-text"> We only accept CASH, VISA, MASTERCARD, AMEX, DINER & NETS. </p>
            <p class="grey-text">We ensure accuracy in our billing as all our transactions are automatically processed.</p>
            <p class="grey-text"> <strong>Cancellation of Orders</strong></p>
            <p class="grey-text">
                We will refund the amount paid if the order is cancelled due to the unavailability of goods or our inability to deliver the goods within the agreed time frame. <br>
                A S$10.70 (incl. gst) administrative charges is applicable for order cancellation.
            </p>
            <p class="grey-text"> <strong>Confirmation of Orders</strong></p>
            <p class="grey-text">
                We will send an electronic acknowledgement to the customer within 24 hours upon successful submission of the electronic order. If items ordered are unavailable, a message will be sent to the customer for further action.<br>
                While we do everything we can to make sure our stock levels are accurate at all times there may be occasions due to unforeseen circumstances where we are unable to fulfill your order or source a replacement product. If this should occur we will contact you for a full refund.
            </p>
            <p class="grey-text"> <strong>Exchange & Refunds</strong></p>
            <p class="grey-text"> All our goods sold are non-exchangeable and non-refundable.</p>
            <p class="grey-text"> <strong>Feedback</strong></p>
            <p class="grey-text"> We welcome your feedback. Should you feel dissatisfied with any of our goods or services, please contact us at Tel: 6862 8866.</p>
            <p class="grey-text"> <strong>Confidentiality of Transactions</strong> </p>
            <p class="grey-text">We treat all transactions and customers' particulars with the strictest confidence. </p>
        </div>
    </div>
</div>